body {
	background-color: #FFF;
	margin: 0;
	padding: 0;
	font-family: Arial;
}

.fp_room_list {
	list-style: none;
	width: 80%;
	margin: auto;
	position: relative;
	margin-top: 10%;
}

.fp_room_entry {
	background-color: #f5f5f5;
	margin: 10px;
	padding: 10px;
	border-radius: 10px;
	font-size: 2em;
}

.fp_join_to_room_button {

}