body {
	background-color: #FFF;
	margin: 0;
	padding: 0;
	font-family: Arial;
}

.fp_button {
	cursor: pointer;
}

.fp_button--join_to_room {
	position: absolute;
	right: 30px;
	top: 10px;
	color: #9a8585;
}

.fp_button--create_room {
	margin: auto;
	position: relative;
	width: max-content;
	background-color: #DDD;
	padding: 20px 40px;
	margin-top: 50px;
	border-radius: 10px;
	font-size: 1.5em;
}

.fp_button--create_room:hover {
	background-color: #BBB;
}

.fp_button--refresh_room_list {

}

.fp_button--start_game {
	margin: auto;
	position: relative;
	width: max-content;
	background-color: #DDD;
	padding: 20px 40px;
	margin-top: 50px;
	border-radius: 10px;
	font-size: 1.5em;
}

.fp_button--start_game:hover {
	background-color: #BBB;
}

.fp_button--exit_from_room {
	position: relative;
	font-size: 50px;
	width: 50px;
	color: #ef5050;
	margin-right: 0;
	margin-left: auto;
}

.fp_button--exit_from_room:hover {
	color: #ea4040;
}

.fp_room_list_container {
	width: 80%;
	margin: auto;
	position: relative;
	margin-top: 10%;
}

.fp_room_list_title {
	display: flex;
	justify-content: space-between;
	padding: 0 20px;
}

.fp_room_list {
	list-style: none;
	padding: 0;
}

.fp_room_entry {
	background-color: #f5f5f5;
	margin: 10px;
	padding: 10px 10px 10px 20px;
	border-radius: 10px;
	font-size: 2em;
	color: #8e77d2;
	position: relative;
	user-select: none;
	cursor: pointer;
}

.fp_room_entry:hover {
	background-color: #DDD;
}

.fp_lobby_container {
	width: 80%;
	margin: auto;
	position: relative;
	margin-top: 10%;
}

.fp_player_list_title {
	font-size: 2em;
	text-align: center;
}

.fp_player_list {
	display: flex;
	justify-content: center;
	flex-wrap: wrap;
}

.fp_player {
	border-radius: 75px;
	width: 150px;
	height: 150px;
	overflow: hidden;
	background-color: #CCC;
	margin: 10px;
	background-position: center;
	background-size: cover;
}

.fp_waiting_for_pics_title {
	font-size: 3.5em;
	text-align: center;
	margin-top: 30%;
	color: #b38787;
}

.fp_take_pic__progress {
	background-color: #000;
	height: 5em;
	color: #FFF;
	display: flex;
	justify-content: space-evenly;
	align-items: center;
}

.fp_take_pic__progress_step {
	width: 2.5em;
	height: 2.5em;
	background-color: #655b5b;
	border-radius: 2.5em;
	text-align: center;
	line-height: 2.5em;
	font-weight: bold;
	font-size: 1.5em;
	border-style: solid;
	border-color: transparent;
}

.fp_take_pic__progress_step--inactive {
	opacity: 0.4;
}

.fp_take_pic__progress_step--current {
	border-color: #FFF;
}

.fp_take_pic__progress_done {
	color: #5fde2c;
	font-size: 1.5em;
	line-height: 1.65em;
}

.fp_take_pic__image {
	width: 100%;
	height: 100%;
	background-size: contain;
	position: fixed;
	overflow: hidden;
	background-repeat: no-repeat;
	background-position: center;
	top: 0;
	z-index: -1;
}

.fp_take_pic__my_photo {

}

.fp_take_pic__footer {
	background-color: #000;
	height: 5em;
	color: #FFF;
	position: absolute;
	bottom: 0;
	width: 100%;
}

.fp_take_pic__footer_progress {
	background-color: #4ae682;
	height: 100%;
	width: 0%;
	transition: width .2s linear;
	opacity: 1;
}

.fp_take_pic__footer_progress--in_progress {
	transition: opacity .5s linear 3s, width 3s linear;
	width: 100%;
	opacity: 0;
}

.fp_take_pic__footer_progress--empty {
	transition: opacity 0s linear, width 0s linear;
	width: 0%;
	opacity: 1;
}

.fp_game_progress {
	background-color: #000;
	height: 5em;
	color: #FFF;
	display: flex;
	justify-content: space-evenly;
	align-items: center;
}

.fp_game_progress__step {
	width: 2.5em;
	height: 2.5em;
	background-color: #655b5b;
	border-radius: 2.5em;
	text-align: center;
	line-height: 2.5em;
	font-weight: bold;
	font-size: 1.5em;
	border-style: solid;
	border-color: transparent;
}

.fp_game_progress__step--inactive {
	opacity: 0.4;
}

.fp_game_progress__step--current {
	border-color: #FFF;
}

.fp_game_progress__done {
	color: #5fde2c;
	font-size: 1.5em;
	line-height: 1.65em;
}

.fp_game__image {
	width: 100%;
}

.fp_game__footer {
	background-color: #000;
	height: 5em;
	color: #FFF;
	position: absolute;
	bottom: 0;
	width: 100%;
}

.fp_game__footer_progress {
	background-color: #4ae682;
	height: 100%;
	width: 0%;
	transition: width .2s linear;
	opacity: 1;
}

.fp_game__footer_progress--in_progress {
	transition: opacity .5s linear 3s, width 3s linear;
	width: 100%;
	opacity: 0;
}

.fp_game__footer_progress--empty {
	transition: opacity 0s linear, width 0s linear;
	width: 0%;
	opacity: 1;
}

.fp_game__player_list {
	height: 5em;
	color: #FFF;
	justify-content: space-evenly;
	align-items: center;
	margin-top: 10px;
	display: flex;
	flex-wrap: wrap;
}

.fp_game__player_photo {
	width: 10em;
	height: 10em;
	border-radius: 10px;
	position: relative;
	background-color: #CCC;
	margin-top: 20px;
}

.fp_game__player_name {
	position: absolute;
	color: #555;
	font-size: 20px;
	font-weight: bold;
	top: 10px;
	left: 10px;
}

.fp_game_area {

}

.fp_player_list_container {
	width: 80%;
	margin: auto;
	position: relative;
	margin-top: 10%;
}

.fp_player_list_container--voted {
	pointer-events: none;
}